* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    background: gray;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px;
}

nav ul li a:hover {
    background: white;
    color: black;
}

.dropdown_content {
    position: absolute;
    background: gray;
    width: 160px;
    display: none;
}

.dropdown_content a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: inline-block;
}

.dropdown_content a:hover {
    color: black;
    background: white;
}

.dropdown:hover .dropdown_content {
    display: block;
}