* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionCenter {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.section {
    padding: 100px 0px;
}

.navbar {
    height: 90px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.navBtn {
    display: none;
}

.navCenter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.navLinks {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: end;
    column-gap: 30px;
    transition: all 0.3s linear;
}

.navLinks li a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    letter-spacing: 3px;
}

.navLinks li a:hover {
    color: black;
}

.navlogo {
    width: 90px;
    border: 4px solid black;
    border-radius: 10px;
}

.sidebar {
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.banner {
    background: ghostwhite;
}

.bannerDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /*place-items: center; hem yatay hem dikey hizalama*/
}

.title {
    font-size: 50px;
}

.underline {
    width: 330px;
    height: 4px;
    background: black;
}

.bannerInfo .underline {
    margin: 5px auto 20px 0px;
}

.bannerInfo h2 {
    color: gray;
}

.btn {
    color: red;
    background: white;
    padding: 10px 12px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    margin: 20px 0px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

.btn:hover {
    background: lightgray;
}

.bannerPhoto {
    width: 400px;
    border: 4px solid black;
    border-radius: 20px;
}

.about {
    background: azure;
}

.aboutDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.aboutTittle {
    margin-bottom: 30px;
}

.aboutTittle .title {
    text-align: center;
}

.aboutTittle .underline {
    margin: 5px auto 20px auto;
}

.aboutBtnDiv {
    text-align: center;
}

.edu {
    background: antiquewhite;
}

.eduTittle {
    text-align: center;
    margin-bottom: 60px;
}

.eduTittle .underline {
    margin: 5px auto 20px auto;
}

.edus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}

.educard {
    text-align: center;
    background: white;
    padding: 50px 25px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s linear;
}

.eduIcon {
    font-size: 30px;
    margin-bottom: 20px;
}

.educard:hover {
    color: white;
    background: gray;
}

.projectSection {
    background: darkgray;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
    grid-template-areas: 'a b b' 'a c d';
}

.project1 {
    grid-area: a;
}

.project2 {
    grid-area: b;
}

.project3 {
    grid-area: c;
}

.project4 {
    grid-area: d;
}

.projectsTitle {
    text-align: center;
    margin-bottom: 60px;
}

.projectsTitle .underline {
    margin: 5px auto 20px auto;
}

.projectsText {
    max-width: 500px;
    margin: 0 auto;
}

.proje {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.project {
    position: relative;
    height: 100%;
    background: darkblue;
    border-radius: 8px;
}

.projectInfo {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s linear;
}

.project:hover .projectInfo {
    opacity: 1;
}

.project:hover .projectImg {
    opacity: 0.1;
}

.projectImg {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.project::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.3s linear;
}

.project:hover::before {
    opacity: 1;
    transform: scale(0.8);
}

.skills {
    background: aliceblue;
}

.skillsTitle {
    text-align: center;
    margin-bottom: 60px;
}

.skillsTitle .underline {
    margin: 5px auto 20px auto;
}

.skillsCenter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    margin-bottom: 8px;
}

.skillContainer {
    position: relative;
    width: 100%;
    height: 16px;
    background: white;
    border-radius: 10px;
}

.skillValue {
    position: absolute;
    height: 100%;
    /* width: 90%; */
    background: darkblue;
    border-radius: 10px;
}

.skillText {
    position: absolute;
    top: -32px;
    /* left: 90%; */
    transform: translateX(-50%);
    color: brown;
}

.value90 {
    width: 90%;
}

.size90 {
    left: 90%;
}

.value80 {
    width: 80%;
}

.size80 {
    left: 80%;
}

.value50 {
    width: 50%;
}

.size50 {
    left: 50%;
}

.value40 {
    width: 40%;
}

.size40 {
    left: 40%;
}

.value30 {
    width: 30%;
}

.size30 {
    left: 30%;
}

.value20 {
    width: 20%;
}

.size20 {
    left: 20%;
}

.timeline {
    background: gainsboro;
}

.timelineTitle {
    text-align: center;
    margin-bottom: 60px;
}

.timelineTitle .underline {
    margin: 5px auto 20px auto;
}

.timelineItem {
    border-top: 2px dashed black;
    padding: 60px 30px;
    width: 100%;
    position: relative;
}

.timelineItem:first-child {
    border-top: 0;
    border-top-right-radius: 0 !important;
}

.timelineItem:last-child {
    border-bottom-right-radius: 0 !important;
}

.timelineItem:nth-child(odd) {
    border-right: 2px dashed black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
}

.timelineItem:nth-child(even) {
    border-left: 2px dashed black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
}

.timelineItem h4 {
    font-size: 20px;
}

.timelineItem .number {
    position: absolute;
    top: 50%;
    right: 0;
    background: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.timelineItem:nth-child(odd) .number {
    transform: translate(50%, -50%);
    right: 0;
}

.timelineItem:nth-child(even) .number {
    transform: translate(-50%, -50%);
    left: 0;
}

.blog {
    background: floralwhite;
}

.blogTitle {
    text-align: center;
    margin-bottom: 60px;
}

.blogTitle .underline {
    margin: 5px auto 20px auto;
}

.blogCenter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 30px;
}

.blogcard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    height: 400px;
    border-radius: 30px;
}

.blogcard .cardInfo {
    text-align: center;
    padding: 10px 30px;
}

.blogcard .cardInfo h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.blogcard img {
    height: 200px;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.blogcard .cardfooter {
    text-align: center;
}

.blogcard .cardfooter .btn {
    margin-top: 10px;
}

/* Footer */

.footer {
    background: black;
    color: white;
    display: grid;
    place-items: center;
    padding-bottom: 30px;
}

.footer .socialIcons {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 300px;
}

.footer .socialIcon {
    color: white;
    font-size: 24px;
}

.footer p {
    font-size: 20px;
    letter-spacing: 3px;
}