* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #068fbe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    flex: 0.5;
    position: relative;
    border-radius: 50px;
    margin: 20px;
    transition: flex 0.7s ease-in;
}

.panel.right {
    background-position: right;
}

.panel h3 {
    position: absolute;
    font-size: 3rem;
    color: black;
    bottom: 40px;
    left: 20px;
    opacity: 0;
    transition: opacity 0.3s linear 0.4s;
}

.panel.active {
    flex: 12;
}

.panel.active h3 {
    opacity: 1;
}

.color2 h3 {
    color: white;
}