aside {
  float: left;
  width: 30%;
  padding: 20px;
  & ul {
    list-style-type: none;
    & li {
      margin-bottom: 10px;
      & a {
        color: var(--link-color);
        padding: 6px 10px;
        display: block;
        text-decoration: none;
        &:hover {
          color: var(--text-color);
        }
      }
    }
  }
}

section {
  float: left;
}
